@model IEnumerable<CarDealershipWebsite.Models.Transmission>

@{
    ViewData["Title"] = "Index";
}

<h1>Transmission</h1> @*changed name from index to transmission*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransmissionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransmissionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransmissionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
