@model IEnumerable<CarDealershipWebsite.Models.CarsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Car Models</h1> @*changed name from index to car models*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivetrain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission.TransmissionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.FuelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivetrain)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
